<!DOCTYPE html>
<html>
<head><meta charset="UTF-8"><title>家計簿入力</title></head>
<body>
<h2>家計簿を追加</h2>
<form method="POST">
    <label>日付：<input type="date" name="date"></label><br>
    <label>カテゴリ：<input type="text" name="category"></label><br>
    <label>金額：<input type="number" name="amount"></label><br>
    <label>種類：
        <select name="type">
            <option value="支出">支出</option>
            <option value="収入">収入</option>
        </select>
    </label><br>
    <label>メモ：<input type="text" name="memo"></label><br>
    <input type="submit" value="追加">
</form>
<br>
    <a href="{{ url_for('main') }}"><button>メインに戻る</button></a>
</body>
</html>
